In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
hdline = pd.read_csv('all_other_files/df_ready.csv')

In [5]:
hdline

,v2_headline,period_start,price_direction
0,altcoins potential next ethereum bitcoin,2017-07-03,up
1,bitcoin fan held sign testimony receives effort,2017-07-10,down
2,bitcoin fan holds sign receives donations effort,2017-10-30,down
3,bitcoin mining usb devices large usb,2017-10-30,down
4,word blockchain made bitcoin illustration,2017-10-30,down
...,...,...,...
775,cardano close launching smart charles hoskinson,2021-05-17,down
776,blockstream buys adamant expansion bitcoin inv...,2021-05-17,down
777,huobi scales back due china bitcoin falls ethe...,2021-05-17,down
778,ether last ath rout resumes,2021-05-17,down
779,crypto market continues slide week chaos,2021-05-17,down

In [6]:
hdline['price_mvmt'] = [0 if i == 'down' else 1 for i in hdline['price_direction']]

In [7]:
hdline

,v2_headline,period_start,price_direction,price_mvmt
0,altcoins potential next ethereum bitcoin,2017-07-03,up,1
1,bitcoin fan held sign testimony receives effort,2017-07-10,down,0
2,bitcoin fan holds sign receives donations effort,2017-10-30,down,0
3,bitcoin mining usb devices large usb,2017-10-30,down,0
4,word blockchain made bitcoin illustration,2017-10-30,down,0
...,...,...,...,...
775,cardano close launching smart charles hoskinson,2021-05-17,down,0
776,blockstream buys adamant expansion bitcoin inv...,2021-05-17,down,0
777,huobi scales back due china bitcoin falls ethe...,2021-05-17,down,0
778,ether last ath rout resumes,2021-05-17,down,0
779,crypto market continues slide week chaos,2021-05-17,down,0

In [8]:
hdline = hdline.drop('price_direction', axis=1)

In [9]:
hdline

,v2_headline,period_start,price_mvmt
0,altcoins potential next ethereum bitcoin,2017-07-03,1
1,bitcoin fan held sign testimony receives effort,2017-07-10,0
2,bitcoin fan holds sign receives donations effort,2017-10-30,0
3,bitcoin mining usb devices large usb,2017-10-30,0
4,word blockchain made bitcoin illustration,2017-10-30,0
...,...,...,...
775,cardano close launching smart charles hoskinson,2021-05-17,0
776,blockstream buys adamant expansion bitcoin inv...,2021-05-17,0
777,huobi scales back due china bitcoin falls ethe...,2021-05-17,0
778,ether last ath rout resumes,2021-05-17,0
779,crypto market continues slide week chaos,2021-05-17,0

In [25]:
hdline.groupby(by='period_start').sum()

              price_mvmt
period_start
2017-07-03             1
2017-07-10             0
2017-10-30             0
2017-11-06             4
2017-11-13             2
...                  ...
2021-04-19             0
2021-04-26            34
2021-05-03            16
2021-05-10             0
2021-05-17             0

[170 rows x 1 columns]